{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap">
</head>
<body>
    <div class="navbar">
        <div class="logo" style="font-family: 'Satisfy', cursive;color: #f17501;">Family Recipe Hub</div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button type="submit">signup</button>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-5">
        <div class="card m-3" style="width: 18rem;">
            <img src="{% static 'images/food.png' %}" class="card-img-top" alt="food">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="" class="btn btn-primary">View Recipe</a>
                <!-- Love icon for adding to favorites -->
                <button class="btn" data-recipe-id="{{ recipe.id }}">
                    add to favorite
                </button>
            </div>
        </div>
        <!-- Repeat the card markup for additional recipe cards -->
    </div>

</body>
</html>
{% endblock %}
