{% extends 'main.html' %}
{% load static %}
{% block title %}recipes{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<div class="doc">
    <div class="doc-content">
        <h1 class="doc-title">Recipes</h1>
        <p class="doc-intro">
            We’ve organized these recipes every way we could think 
            of so you don't have to! Dietary restrictions, 
            weeknight dinners, meal prep recipes, some of 
            our most tried-and-true… no matter how you browse, 
            we’re sure you’ll find just what you were looking for.
        </p>
    </div>
    <div class="doc-search">
        <form id="search-form" method="GET" action="{% url 'recipes:recipe_search' %}">
            {% csrf_token %}
            <input type="text" id="search-input" name="query" placeholder="Search for recipes" class="search-input">
            <button type="submit" class="search-btn">Search</button>
        </form>
        <div id="search-results" class="search-results"></div>
        </div>

</div>
<div class="recipes-section">
    <h2 class="recipes-section-title">Popular Recipes</h2>
    <div class="line"></div>
    <div class="recipes-container">
        {% for recipe in recipes %}
        <div class="recipes-card">
            {% for recipe_image in recipe.images %}
            {% if recipe_image.image_url %}
            <img src="{{ recipe_image.image_url.url }}" alt="{{ recipe.title }}" class="recipes-image" width="50px">
            {% endif %}
            {% endfor %}
            <div class="body-card">
                <p class="recipes-title">{{ recipe.title }}</p>
                <p class="rating"><span>rate:</span> {{ recipe.avg_rating }}</p>
            </div>
           
            
            {% if recipe.id in favorites %}
            <form method="post" action="{% url 'favorites:remove_from_favorite' recipe_id=recipe.id %}" class="add-to-favorites-form">
                {% csrf_token %}
                <button type="submit" class="fav-btn">Remove</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'favorites:add_to_favorite' recipe_id=recipe.id %}" class="add-to-favorites-form">
                {% csrf_token %}
                <button type="submit" class="fav-btn">Add to Favorites</button>
            </form>
            {% endif %}
        
            <a href="{% url 'recipes:recipe' recipe_id=recipe.id %}" class="card-link">View Recipe</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="line-center"></div>
<div class="catrgories-container">
    <h2 class="recipes-section-title">Categories</h2>
    <div class="line"></div>
    <div class="categories">
        <div class="category">
            <img src="{% static 'imagess/vegans.jpg' %}" alt="vegan" class="category-image">
            <p class="category-title">Vegan</p>
        </div>
        <div class="category">
            <img src="{% static 'imagess/vegetarian.jpeg' %}" alt="vegetarian" class="category-image">
            <p class="category-title">Vegetarian</p>
        </div>
        <div class="category">
            <img src="{% static 'imagess/low-carb.jpg' %}" alt="low-carb" class="category-image">
            <p class="category-title">Low Carb</p>
        </div>
        <div class="category">
            <img src="{% static 'imagess/gluten-free.jpeg' %}" alt="gluten-free" class="category-image">
            <p class="category-title">Gluten Free</p>
        </div>
        <div class="category">
            <img src="{% static 'imagess/meal-prep.jpg' %}" alt="meal-prep" class="category-image">
            <p class="category-title">Meal Prep</p>
        </div>
        <div class="category">
            <img src="{% static 'imagess/weeknight-dinners.jpg' %}" alt="weeknight-dinners" class="category-image">
            <p class="category-title">Weeknight Dinners</p>
        </div>
    </div>
</div>
<div class="line-center"></div>
<div class="catrgories-container">
    <h2 class="recipes-section-title">RECIPES BY INGREDIENT</h2>
    <div class="line"></div>
    <div class="categories">
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Bell Peppe</p>
        </div>
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Carrot</p>
        </div>
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Eggs</p>
        </div>
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Lime</p>
        </div>
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Pasta</p>
        </div>
        <div class="category">
            <div class="circle"></div>
            <p class="category-title">Sweet Potato</p>
        </div>
</div>
</div>
<div class="line-center"></div>
{% endblock %}
