/* General setting */

a {
    text-decoration: none;
}

body {
    background-color: #ffbe80;
}

li {
    display: inline;
}

/*---------------nav------------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    /* Ensure the navbar is on top */

}

.logo {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;

}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Tilt Neon', cursive;
    font-size: medium;
    padding: 15px;
}

.menu ul li a:hover {
    text-decoration: none;
    background-color: black;

}

.search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.search button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #45a049;
}


/*---------------Home------------------*/
.background-div {
    position: relative;
    margin-left: 50px;
    margin-top: 70px;
    /* Adjust this value to leave space for the fixed navbar */
    text-align: center;
    width: 95%;
    height: 800px;
    background-image: url('https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

    /* Set a higher z-index to ensure it appears on top of the navbar */
}