{% extends 'base.html' %}

{% block title %}Home - Recipe Website{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Recipe Website</h1>
        <p class="lead">Discover delicious recipes to cook at home!</p>
        <hr class="my-4">
        <p>Get started by exploring our collection of mouth-watering recipes.</p>
        <a class="btn btn-lg btn-orange" href="#" role="button">Explore Recipes</a>
    </div>
</div>

{% endblock %}
