{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap">


</head>

<body>



    <div class="navbar">
        <div class="logo" style="font-family: 'Satisfy', cursive;color: #f17501;">Family Recipe Hub</div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'recipes:home' %}">Home</a></li>
                <li><a href="{% url 'recipes:recipes' %}">Recipes</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
        {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">
            <button type="submit">Logout</button>
        </a>
        {% else %}
        <a href="{% url 'accounts:signup' %}">
            <button type="submit">signup</button>
        </a>
        {% endif %}
    </div>
    </div>
    {% block image %}
    {% endblock %}
    {% block content%}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>